In [1]:
import pandas as pd

df = pd.read_csv("games_formatted_mon_2.csv")

[20, 26, 32, 4, 31, 42, 15, 29, 40, 11, 17, 24, 23, 37, 41, 14, 16, 30, 9, 18, 40]



df.head()

   Week  Team#   Match1   Match2    Match3
0     1      1   49&50     9&10    27&28
1     1      2     7&8    11&12    13&14
2     1      3   49&50      5&6    T1&T2
3     1      4   11&12    23&24      5&6
4     1      5   25&26    T5&T6    15&16

In [2]:
#df.drop(['Week','Team#'], axis=1).groupby(['Match1','Match2','Match3']).agg('count')

vs = {}

for row in df.iterrows():
    r = row[1]
    for row1 in df.iterrows():
        
        r1 = row1[1]
        if r.Week == r1.Week and (r.Match1 == r1.Match1 or r.Match2 == r1.Match2 or r.Match3 == r1.Match3):
            if r['Team#'] != r1['Team#']:
#                 print(f"WK{r.Week} A{r['Team#']} B{r1['Team#']}")
                if r['Team#'] in vs:
                     vs[r['Team#']].append(r1['Team#'])
                else:
                    vs[r['Team#']] = [r1['Team#']]

In [3]:
for v in vs:
    if len(set( vs[v])) != 21:
        print("FAIL")
        break
    print(v, len(set( vs[v]))  , vs[v]   )

1 21 [3, 15, 17, 28, 30, 39, 16, 20, 42, 14, 27, 37, 6, 24, 44, 9, 12, 38, 19, 25, 31]
FAIL